@keyframes progressive {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.Dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 987px;
    height: 47px;
    background-color: #FF6060;
    color: white;
    margin-top: 38px;
    border-radius: 5px;
    padding: 0 18px;
}

.DropdownTitle {
    font-size: 24px;
}

.ArrowUp {
    transform: rotate(180deg);
    transition: transform ease-in-out 250ms;
    cursor: pointer;
}

.Arrow{
    transform: rotate(0deg);
    transition: transform ease-in-out 250ms;
    cursor: pointer;
}

.DropdownContent {
    width: 987px;
    height: auto;
    font-size: 24px;
    font-weight: 400;
    color:#FF6060;
    line-height: 34px;
    padding: 30px 18px;
    background-color: #F6F6F6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: progressive 300ms ease-in-out both;
    transition: .3s ease-in-out;
}


@media screen and (max-width: 1240px)  {

    .Dropdown, .DropdownContent{
        width: 700px;
    }   
    
    
}

@media screen and (max-width: 850px){
    
    .Dropdown {
        width: 311px;
        height: 30px;
        margin-top: 20px;
        padding: 0 12px;
    }

    .DropdownTitle {
        font-size: 13px;
        font-weight: 500;
    }

    .Dropdown img {
        width: 9px;
        height: 15px;
        margin: 0 12px;
    }

    .DropdownContent {
        width: 311px;
        font-size: 12px;
        padding: 20px 12px;
    }

    .DropdownContent{
        background-color: #F6F6F6;
    }
}