.SlideshowContainer{
    width: 1240px;
    height: 415px;
    position: relative;
}

.Slideshow {
    width: 100%;
    height: auto; 
}

.Image {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

.ArrowBack {
    position: absolute;
    left: 23px;
    top: 156px;
    cursor: pointer;
}

.ArrowBack:hover {
    transform: scale(1.2);
    transition: transform ease-in-out 150ms;
}

.ArrowBackNone {
    display: none;
}

.ArrowForward {
    position: absolute;
    right: 23px;
    top: 156px;
    cursor: pointer;
}

.ArrowForward:hover {
    transform: scale(1.2);
    transition: transform ease-in-out 150ms;
}
.ArrowFrowardNone {
    display: none;
}

.Counter {
    position: absolute;
    color: white;
    bottom: 25px;
    left: 50%;
    font-size: 18px;
    font-weight: 500;
}