.AboutContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
}

.DropdownContainer{
    width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 850px){
    .DropdownContainer{
        width: 335px;
    }

    .AboutContainer{
        width: 335px;
    }

    .DropdownItem{
        width: 335px
    }
}

