.Star {
    margin-right: 10px;
}
@media screen and (max-width: 1240px){
    .Star{
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
}
@media screen and (max-width: 850px){
    .Star{
        width: 15px;
        height: 15px;
        margin-right: 5px;
        margin-top: 27px;
    }
}