.AccomodationInfosContainer {
  width: 1240px;
  margin-top: 30px;
  font-size: 18px;
}

.AccomodationInfos {
  display: flex;
  justify-content: space-between;
}

.InfosLocation h1 {
  color: #ff6060;
  font-size: 36px;
}

.InfosLocation p {
  color: #ff6060;
}

.Host {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #ff6060;
}

.Name {
  width: min-content;
  text-align: right;
}

.Host img {
  border-radius: 50px;
  width: 64px;
  height: 64px;
  margin-left: 10px;
  margin-bottom: 24px;
}

.DropdownContainerAccomodation {
  width: 1240px;
  display: flex;
  justify-content: space-between;
}

.DropdownItemAccomodation {
  width: 582px;
  font-size: 18px;
}

@media screen and (max-width: 1240px) {
  .AccomodationInfosContainer {
    width: 700px;
  }

  .InfosLocation {
    max-width: 500px;
  }

  .InfosLocation h1 {
    font-size: 22px;
    line-height: 142.6%;
    margin: 0;
  }

  .DropdownContainerAccomodation {
    width: 700px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .AccomodationInfosContainer {
    width: 335px;
    margin-top: 15px;
    font-size: 14px;
  }

  .AccomodationInfosContainer h1 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  .AccomodationInfosContainer p {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .Host img {
    width: 32px;
    height: 32px;
    margin-bottom: 0;
  }

  .Host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 18px;
  }

  .InfosHost {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .AccomodationInfos {
    display: flex;
    flex-direction: column;
  }

  .DropdownContainerAccomodation {
    display: flex;
    flex-direction: column;
    width: 335px;
  }

  .DropdownItemAccomodation {
    width: 100%;
    font-size: 13px;
  }
}
