.ErrorContainer{
    color: #FF6060;
    text-align: center;
}

.ErrorText{
    margin-bottom: 182px;
}

.ErrorText h1 {
    font-size: 288px;
    font-weight: 700;
}

.ErrorText p {
    font-size: 36px;
}

.Link {

    margin-bottom: 20px;
}

@media screen and (max-width: 850px){
    .ErrorContainer{
        margin: 100px 0;
    }
    .ErrorText{
        margin-bottom: 133px;
    }

    .ErrorText h1 {
        font-size: 96px;
    }

    .ErrorText p {
        font-size: 18px;
    }


}